

.saulu-body {
	background-image: url('images/landing_page.png');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
	
}


.landingpage {
  	background-color: #a94442;
  	position: absolute;
  	min-width: 100%
  	min-width: 100%;  
	opacity: 0.5;

}
  
.btn-round-lg{
border-radius: 30px;
}

.btn-round{
border-radius: 17px;
}