.saulu-issues {
	margin-left:50px;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 10px;
}


.saulu-issue-open {
	margin-left: 100px;
	background-color: #fff;
	box-shadow: 0 3px 3px 0 #efefef;
	padding: 20px;

}

.saulu-issue-closed {
	margin-left: 300px;
	background-color: #fff;
	box-shadow: 0 3px 3px 0 #efefef;
	padding: 20px;

}

.saulu-background {
	background-color: #74AFAD;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}



