{% extends'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="container" style="max-width: 100%;">

	<div class="panel-group">
		<div class="panel panel-default col-md-5">
		{% for issue in issues %}
			<div class="panel-body">
				<strong>Title:</strong>  {{ issue.title }}
			</div>
			<div class="panel-body">
				<strong>Description: </strong>
				{% if issue.description %}
					{{ issue.description }}
				{% else %}
					no description
				{% endif %}
			</div>
			<div class="panel-body">
				<strong>Department: </strong> {{ issue.department }}
			</div>
			<div class="panel-body">
				<strong>Raised by: </strong> {{ issue.raised_by }}
			</div>
			<div class="form" id="form1">
				<form method='post'>
				{{ check_form.hidden_tag() }}
				<div class="panel-body">
					{{ wtf.form_field(check_form.assigned_to) }}
				</div>
				<div class="panel-body">
					{{ wtf.form_field(check_form.progress ) }}

				</div>
				<div class="panel-body">
					{{ wtf.form_field(check_form.comment ) }}
				</div>
				<div class="panel-body">
					{{ check_form.submit (class="btn btn-warning") }}
				</div>
			</form>		
			</div>
		{% endfor %}
	</div>
	
</div>
{% endblock %}