
{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
	<div class="container-fluid" style="margin-top: 20px;" >
			{% if current_user.role.id == 1 %}
			<ul class="nav nav-tabs">
				<li role='presentation'>
					<a href="{{ url_for( 'main.home_page') }}" class="btn btn-warning">issues raised</a>
				</li>
			</ul>
			{% elif current_user.role.id == 3 %}
			<ul class="nav nav-tabs">
				<li role='presentation'>
					<a href="{{ url_for( 'main.home_page') }}" class="btn btn-warning">View my issues</a>
				</li>
			</ul>
			{% elif current_user.role.id == 4 %}
			<ul class="nav nav-tabs">
				<li role='presentation'>
					<a href="{{ url_for( 'main.home_page') }}" class="btn btn-warning">View all issues</a>
				</li>
				<li role='presentation'>
					<a href="{{ url_for( 'main.view') }}" class="btn btn-warning">View users</a>
				</li>
				<li role='presentation'>
					<a href="{{ url_for( 'main.add_trainer') }}" class="btn btn-warning">Add fixer</a>
				</li>
				<li role='presentation'>
					<a href="{{ url_for( 'main.add_admin') }}" class="btn btn-warning">Add admin</a>
				</li>
			</ul>
			{% else %}
			<ul class="nav nav-tabs">
				<li role='presentation'>
					<a href="{{ url_for( 'main.home_page') }}" class="btn btn-warning">View my issues</a>
				</li>
				<li role='presentation'>
					<a href="{{ url_for( 'main.new_issue') }}" class="btn btn-success">Raise an issue</a>
				</li>
			</ul>
			{% endif %}
	</div>
	<div class="container-fluid" style="padding: 20px;">
	<div class="panel panel-danger">
		<div class="panel-heading">Open</div>
		<div class="panel-body">
			<span style="color: red;">
			<strong><i>Issues not resolved</i></strong>
			</span>
		</div>
		<table class="table"> 
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Department</th>
						<th>Priority</th>
						<th>Raised by</th>
						<th>Assigned to</th>
						<th>Progress</th>
					</tr> 
				</thead>
			{% for issue in open_issues %}
				{% if issue.id == None %}
					<tr>
						<p>No open issues</p>
					</tr>
				{% else %}
				<tbody>
				{% if current_user.role.id == 3 %}
					<tr>
						<td>{{ issue.title }}</td>
						{% if issue.description %}
							<td>{{ issue.description }}</td>

						{% endif %}

						<td>{{ issue.department }}</td>
						<td>{{ issue.priority }}</td>
						
						<td>{{ issue.raised_by }}</td>
						{% if issue.assigned_to  %}
							<td>{{ issue.assigned_to }}</td>
						{% else %}
							<td></td>
						{% endif %}
						{% if issue.progress %}	
							<td>{{ issue.progress }}</td>
						<td><a href="#">resolve</a></td>
						{% endif %}
						{% if issue.comment %}
						<td>{{ issue.comment }}</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td>{{ issue.title }}</td>
						{% if issue.description %}
							<td>{{ issue.description }}</td>
						{% endif %}
						<td>{{ issue.department }}</td>
						<td>{{ issue.priority }}</td>
						
						<td>{{ issue.raised_by }}</td>
						{% if issue.assigned_to  %}
							<td>{{ issue.assigned_to }}</td>
						{% else %}
							<td></td>
						{% endif %}
						{% if issue.progress %}	
						<td>{{ issue.progress }}</td>
						{% else %}
							<td></td>
						{% endif %}
						{% if issue.comment %}
						<td>{{ issue.comment }}</td>
						{% endif %}

						{% if current_user.role.id == 1 %}
							<td><a href="{{ url_for('main.check_issues', id=issue.id) }}" class="btn btn-warning">view</a></td>
						{% endif %}
					</tr>
				{% endif %}
				</tbody>
				{% endif %}
			{% endfor %}
			</table>
		
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">Closed</div>
		<div class="panel-body">
			<span style="color: green;">
			<strong><i>Issues resolved</i></strong>
			</span>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Department</th>
					<th>Priority</th>
					<th>Raised by</th>
					<th>Assigned to</th>
					<th>Progress</th>
				</tr> 
			</thead>
			{% for issue in closed_issues %}
			<tbody>
			{% if current_user.role.id == 3 %}
				<tr>
					<td>{{ issue.title }}</td>
					{% if issue.description %}
						<td>{{ issue.description }}</td>
					{% endif %}
		
					<td>{{ issue.department }}</td>
					<td>{{ issue.priority }}</td>
					
					<td>{{ issue.raised_by }}</td>
					{% if issue.assigned_to  %}
						<td>{{ issue.assigned_to }}</td>
					{% else %}
						<td></td>
					{% endif %}
					{% if issue.progress %}	
					<td>{{ issue.progress }}</td>
					{% else %}
						<td></td>
					{% endif %}
					{% if issue.comment %}
					<td>{{ issue.comment }}</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td>{{ issue.title }}</td>
					{% if issue.description %}
						<td>{{ issue.description }}</td>
					{% endif %}
					<td>{{ issue.department }}</td>
					<td>{{ issue.priority }}</td>
					<td>{{ issue.raised_by }}</td>
					{% if issue.assigned_to  %}
						<td>{{ issue.assigned_to }}</td>
					{% else %}
						<td></td>
					{% endif %}
					{% if issue.progress %}	
					<td>{{ issue.progress }}</td>
					{% else %}
						<td></td>
					{% endif %}
					{% if issue.comment %}
					<td>{{ issue.comment }}</td>
					{% endif %}
				
					{% if current_user.role.id == 1 %}
						<td><a href="{{ url_for('main.check_issues', id=issue.id) }}" class="btn btn-warning">view</a></td>
					{% endif %}
				</tr>
			{% endif %}
			</tbody>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}