{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
	<div class="saulu-issues col-md-12">
		<div class="col-md-6" style="color: red;">
			<h3>Open</h3>
		</div>
		<div class="col-md-6" style="color: green;">
			<h3>Closed</h3>
		</div>
	{% for issue in issues %}
		{% if issue.state == 'open'  %}
			<div class="col-md-6" id='open'>
			<strong>Title:</strong>{{ issue.title }}
			<br>
			{% if issue.description %}
			<strong>Description: </strong>{{ issue.description }}
			<br>
			{% endif %}
			<strong>Department: </strong>{{ issue.department }}
			<br>
			<strong>Raised by: </strong>{{ issue.raised_by }}
			<br>
			<strong>Priority: </strong>{{ issue.priority }}
			<br>

			{% if issue.progress %}	
			<strong>Progress: </strong>{{ issue.progress }}
			{% endif %}
			{% if issue.comment %}
			<strong>Comment: </strong>{{ issue.comment }}
			{% endif %}

			{% if current_user.role.id == 1 %}
				<br>
					<strong>Assigned_to: </strong>{{ issue.assigned_to }}
				<a href="{{ url_for('main.check_issues', id=issue.id) }}">view</a>
			{% endif %}
			<br>
		{% else %}
		<div class="col-md-6" id='closed'>
			<strong>Title:</strong>{{ issue.title }}
			<br>
			{% if issue.description %}
			<strong>Description: </strong>{{ issue.description }}
			<br>
			{% endif %}
			<strong>Department: </strong>{{ issue.department }}
			<br>
			
			<strong>Priority: </strong>{{ issue.priority }}
			<br>

			{% if issue.progress %}	
			<strong>Progress: </strong>{{ issue.progress }}
			{% endif %}
			<br>
			{% if issue.comment %}
			<strong>Comment: </strong>{{ issue.comment }}
			{% endif %}
			
			{% if current_user.role.id == 1 %}
				<strong>Raised by: </strong>{{ issue.raised_by }}
				<br>
				<strong>Assigned_to: </strong>{{ issue.assigned_to }}
				<br>
				<a href="{{ url_for('main.check_issues', id=issue.id) }}">view</a>
			{% endif %}
		{% endif %}
		</div>
	{% endfor %}
	</div>

	<div class="btn">
		{% if current_user.role.id == 2 %}
			<a href="{{ url_for('main.new_issue') }}">Raise an Issue</a>
		{% endif %}
	</div>
{% endblock %}