<!DOCTYPE html>
<html>
<head>
	<title>Saulu</title>
	<!-- internal stylesheets -->
	<link rel="stylesheet" type="text/css" href="static/css/landing_page.css">
	<!-- Bootstrap cdn -->
	<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

	<link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
</head>
<body>
	<div class="saulu-body">
		<div class='landingpage' alt="">
			
		</div>
		<div class="container-fluid" style="margin-left: 370px; margin-top: 400px; margin-right: 500px; color: #fff; display: block; padding: 10px;">
					<a href="{{ url_for('auth.login') }}" class="btn btn-warning btn-round-lg btn-lg">login</a>
					<a href="{{ url_for('auth.sign_up') }}" class="btn btn-warning btn-round-lg btn-lg">sign up</a>
			</div>
	</div>
</body>
</html>